body {
  background: #16ffbd;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.about-main__text--upper {
  align-content: center;

  & h5 {
    text-align: center;
  }
  & p {
    text-align: center;
    padding: 20px;
    line-height: 35px;

    & i {
      fill: #080d14;
    }
  }
}

.about-main__text--down {
  align-content: center;
  flex-direction: column;
  display: flex;
  & h5 {
    text-align: center;
  }
  & p {
    text-align: center;
    padding: 20px;
    line-height: 35px;
  }
}
