:root {
  --green: #16ffbd;
  --black: #080d14;
  --white: #fff;
  --pink: #ff8dac;
}

body {
  @media (max-width: 600px) {
    background: #16ffbd;
    font-family: "Nanum Gothic", sans-serif;
    width: 100vw;
  }
}

ul {
  display: none;
  padding: 0px;
}

input:checked ~ ul {
  display: block;
}
input {
  display: none;
}
label {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}
li {
  align-content: center;
  display: block;
  background: transparent;
  margin: 0;
  padding: 10px;
  border-radius: 15px;
  width: 80px;
  list-style: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0);
}
header {
  justify-content: center;
  display: flex;
  img {
    position: relative;
    align-items: center;
    justify-content: center;
  }
}
.section__main--text {
  text-align: center;
  margin: 50px;
  article {
    padding: 0px;
  }
}
.post {
  border: 0px solid #ccc;
  margin: 0px;
  padding: 0px;
  p {
    text-align: center;
  }
  li {
    padding: 0px;
  }
  img {
    padding: 0px;
  }
}
.container__color {
  background-color: var(--pink);
  align-content: center;
  padding: 50px;
}

.about-main__text--upper {
  align-content: center;

  & h5 {
    text-align: center;
  }
  & p {
    text-align: center;
    padding: 20px;
    line-height: 35px;
  }
}

.about-main__text--down {
  align-content: center;
  flex-direction: column;
  display: flex;
  & h5 {
    text-align: center;
  }
  & p {
    text-align: center;
    padding: 20px;
    line-height: 35px;
  }
}
footer {
  background-color: var(--black);
  padding-top: 40px;
  flex-direction: column;
  display: flex;
  align-content: center;

  & section {
    flex-direction: column;
    & h5 {
      color: var(--white);
      text-align: center;
    }
    & p {
      color: var(--green);
      text-align: center;
      padding: 20px;
      line-height: 35px;
    }
    & div {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      padding: 20px;

      & i {
        fill: var(--green);
      }
    }
  }
}
